data/mastDownload
manual/*.aux
manual/*.bbl
manual/*.blg
manual/*.log
manual/*.out
manual/*.synctex.gz
solutions

.DS_store
*/.DS_store
.ipynb_checkpoints
*/.ipynb_checkpoints
*/.vscode/*
__pycache__/*
*/__pycache__/*
build/
